.blog_info {
    display: flex;
    width: 342px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    background: var(--12-background-light-01-default, #FFF);
}

.blog_info h1 {
    color: var(--11-text-color-light-01-text-primary, #212B36);

    /* H4 heading */
    font-family: Barlow;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    /* 150% */
}

.posts {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.search {
    display: flex;
    padding: 14px 0px 14px 14px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--10-transparent-07-grey-8, rgba(145, 158, 171, 0.08));
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.category {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.recentPosts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
}

.post h3 {
    color: var(--11-text-color-light-01-text-primary, #212B36);

    /* Subtitle2 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    /* 185.714% */
}

.post div {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.post div p {
    color: var(--11-text-color-light-03-text-disabled, #919EAB);

    /* Caption */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 166.667% */
}

.popularTags {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.tags {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.popular {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.popular button {
    display: flex;
    padding: 4px 12px;
    align-items: center;
    border-radius: 8px;
    background: var(--10-transparent-07-grey-16, rgba(145, 158, 171, 0.16));
}

.advertisement {
    background-image: url(./Image\ Ratio\ Overlay10.png);
    width: 342px;
    height: 342px;
    flex-shrink: 0;
}

.advertisement_desc {
    display: flex;
    width: 342px;
    padding: 146px 40px 40px 40px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.advertisement_desc h2 {
    color: var(--02-secondary-03-main, #22B8CF);
    text-align: center;

    /* H4 heading */
    font-family: Barlow;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    /* 150% */
}

.advertisement_desc p {
    color: var(--08-common-01-white, #FFF);
    text-align: center;

    /* Body2 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 185.714% */
}

.go {
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--01-primary-03-main, #FA541C);
    color: var(--08-common-01-white, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 171.429% */
}

@media(max-width:576px) {
    .advertisement {
        background-image: url(./Image\ Ratio\ Overlay.png);
        background-repeat: no-repeat;
    }

    .search {
        display: none;
    }
}