.numbers {
    display: flex;
    padding: 80px 0px 120px 0px;
    flex-direction: column;
    align-items: center;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.arrows {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.number_center {
    display: flex;
    gap: 10px;
}

.number_center button {
    padding: 10px 20px;
    border-radius: 50px;
}

.number_center button:hover {
    background: var(--10-transparent-01-primary-8, rgba(250, 84, 28, 0.08));
    color: var(--01-primary-03-main, #FA541C);
}

@media(max-width:576px) {
    .number {
        gap: 8px;
    }

    .numbers {
        padding: 32px 0 64px 0;
    }

    .arrows {
        width: 100%;
    }
}