.card {
    display: flex;
    height: 426px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 16px;
    background: var(--12-background-light-01-default, #FFF);
}

.title {
    display: flex;
    width: 270px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.date {
    display: flex;
    align-items: center;
    gap: 8px;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.title h1 {
    color: var(--11-text-color-light-01-text-primary, #212B36);

    /* H6 heading */
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 155.556% */
}

.date p {
    color: var(--11-text-color-light-03-text-disabled, #919EAB);

    /* Caption */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 166.667% */
}

.avatar p {
    color: var(--11-text-color-light-01-text-primary, #212B36);

    /* Body2 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 185.714% */
}

.img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease, filter 0.3s ease;
}