.includes {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.check_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}

.check {
    display: flex;
    align-items: center;
    gap: 16px;
}

.check h3 {
    color: var(--11-text-color-light-01-text-primary, #212B36);

    /* Body2 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 185.714% */
}

.check p {
    color: var(--11-text-color-light-03-text-disabled, #919EAB);

    /* Body2 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 185.714% */
}