@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Poppins:wght@400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.App {
    font-family: 'Barlow', sans-serif;
    font-family: 'Poppins', sans-serif;
}